<h3>
    <i class="fa fa-book-reader"></i> Sayit
</h3>
<div class="section">
    <p class="lead">Share your Powerful Story,Unaplogetically</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"> Login with Google</i></a>
</div>